@page
@model WorldDiscovery.GraphServer.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@Model.TransactionState
<br/><br/>
@Model.IsSuccess
<br/>
<br/>
@Model.Message

<blockquote>
    @Model.Json
</blockquote>


@Model.MutationMessage